@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Roboto:wght@500&family=Work+Sans:wght@500;600;700;800&display=swap');


* {
    box-sizing: border-box;
}

/* NAV section styles */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* border: 2px solid green; */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    min-height: 100px;
    /* border: 2px solid tomato; */


}

.logo {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    gap: 10px;
    text-decoration: none;
}

.pink-text-color {
    background: var(--linear, linear-gradient(#FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.nav-items-container {
    font-size: 1.12rem;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 500;

}

.nav-items-container a {
    text-decoration: none;
    color: #3C354F;
}

.btn-container {
    padding: 10px 5px;
    margin-top: 5px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    background: rgba(11, 2, 35, 0.10);
    font-size: 1rem;
}

.btn span {
    margin-right: 20px;
}

.btn-icon {
    margin-left: 10px;
    gap: 20px;
}

.fa-brands {
    font-size: 1.52rem;

}

/* banner section styles */


.banner-container {
    /* border: 2px solid darkblue; */
    margin: 50px auto 0;
    width: 1400px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text {
    /* border: 3px solid red; */
    width: 50%;
    margin-left: 80px;

}

.banner-img {
    /* border: 2px solid green; */
    width: 50%;
    padding-right: 150px;

}

.banner-img img {
    width: 100%;
    height: 70vh;


}


.banner-title {
    color: #0B0223;
    font-size: 1.8rem;
    font-weight: 600;
    /* border: 2px solid aqua; */
}

.banner-container .banner-title {
    margin-bottom: 0px;
    margin-top: 30px;
}

/*.banner-text-all{
} */
.banner-goat-text {
    font-size: 3rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /* border: 2px solid red; */

}

.banner-description {
    font-size: 0.80rem;
    font-weight: 500;
    color: #534C64;
    padding: 20px;
    /* border: 2px solid skyblue; */
}

.banner-container h1 {
    margin-top: 5px;
    margin-bottom: 1px;
    padding: 0px;

}

.banner-container .banner-description {
    margin-top: 1px;

}


.primary-btn {
    padding: 10px 20px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    font-weight: 600;
}

.skyblue-btn {
    padding: 10px 20px;
    border-radius: 48px;
    font-weight: 600;
    background: #4EC5F7;

}

/* online funny viedios styles */

.funny-viedo-container {
    max-width: 1400px;
    text-align: center;
    /* border: 3px solid violet; */


}

.funny-viedo-info .funny-viedo-title {
    margin-top: 100px;
    margin-bottom: 20px;
}

.funny-viedo-title {
    font-size: 2rem;
    font-weight: 700;
}

.funny-viedo {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}

.funny-viedo-description {
    color: #534C64;
    padding-bottom: 30px;
    /* border: 2px solid salmon; */
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

.card-container img {
    width: 100px;
    width: 200px;
    /* margin: 0 auto; */
}

.card-1 p {
    font-size: 0.93rem;

}

.card-2 p {
    font-size: 0.93rem;
}

.card-3 img {}

/* play instantly section styles */
.play-instantly-container {
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
    display: flex;
    width: 1400px;
    height: 100vh;
    /* border: 3px solid purple; */
}

.play-instantly-info {
    width: 50%;
    padding-left: 200px;
    padding-top: 100px;
    /* border: 3px solid chartreuse; */

}

.play-instantly-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

/* .play-instantly-info {
    font-weight: 100;
}  */

.play-instantly-img-container {
    margin: auto 0;
    padding-left: 200px;
}

.play-instantly-img-container img {
    width: 60%;
}

.barbe-img {
    position: relative;
    right: 150px;
    bottom: 170px;
}

.barbe-img img {
    width: 40%;
    /* border: 3px solid red; */

}

/* button section styles */
.All-button-container {
    width: 1200px;
    margin: 20px auto;
    height: 30vh;
    color: #0B0223;
    font-size: 1.8px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    border: 4px solid #0B0223;

}

.button-title {
    padding-top: 30px;
    gap: 30px;
}

.button-title button {
    padding: 2px 15px;
    border-radius: 30px;
}

button {
    background-color: white;
    border:2px solid white ;
    cursor: pointer;
    position: relative;
    transition: 1s;  
}
button:hover{
    color: #FF42A5;
    border:2px solid #FF42A5 ;
    
}

button img {
    width: 30px;
    padding-top: 10px;
}

.Second-fourth-button {
    margin-top: 20px;
    padding-left: 80px;
}











/* Media query for small device */
@media screen and (max-width:576px) {

    .banner-container .nav-container,
    .nav-items-container {
        flex-direction: column;
    }

    .nav-container {
        gap: 20px;
    }

    .nav-items-container {
        gap: 20px;
    }


}